<script>
    // FRONT END VALIDATION FORM
    function validateEmail(email){
        const regex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
        return regex.test(email);
    }

    // Add cliente
    $("#btnsave").click(function(){
        output = ""
        let nome = $("#nome_id").val();
        let email = $("#email_id").val();
        let telefone = $("#telefone_id").val();
        let crsf = $("input[name=csrfmiddlewaretoken]").val()

        if (nome == ""){
            swal("Atenção!", "Informe o nome !");
        }
        else if (email == ""){
            swal("Atenção!", "Informe o email !");
        }    
        else if (!(validateEmail(email))){
            document.getElementById('email_id').value='';
            swal("Atenção!", "Email inválido!");
            return false;
        }
        else if (telefone == ""){
            swal("Atenção", "Informe o telefone !");
        }
        else {
            //console.log(nome, email, telefone);
            mydata = {nome: nome, email:email, telefone: telefone, csrfmiddlewaretoken:crsf};
            $.ajax({
                url: "{% url 'save' %}",
                method: 'POST',
                data: mydata,
                success:function(data){
                    //console.log(data);
                    x = data.clientes_data
                    if (data.status == 1){
                        console.log('Cliente inserido com success!')
                        for (i=0; i<x.length; i++){
                            output += 
                                "<tr><td>" + 
                                x[i].id + 
                                "</td><td>" + 
                                x[i].nome + 
                                "</td><td>" + 
                                x[i].email + 
                                "</td><td>" + 
                                x[i].telefone +
                                "</td><td> <input type='button'\
                                    class='btn btn-warning btn-sm btn-edit' \
                                    value='Editar' \
                                    data-sid=" + 
                                    x[i].id +
                                    "> <input \
                                    type='button'\
                                    class='btn btn-danger btn-sm btn-del' \
                                    value='Deletar' \
                                    data-sid=" + 
                                    x[i].id + 
                                    ">";
                                    
                        }
                        $("#tbody").html(output);
                        $("form")[0].reset();
                    }
                    if (data.status == 0){
                        console.log("Error")
                    }
                }
            })
        }


    });


    // Delete cliente
    $("tbody").on("click", ".btn-del", function(){
        let id = $(this).attr("data-sid");
        let crsf = $("input[name=csrfmiddlewaretoken]").val()
        mydata = {cliente_id:id, csrfmiddlewaretoken:crsf}
        mythis = this;

        $.ajax({
            url: "{% url 'delete' %}",
            method: 'POST',
            data: mydata,
            success:function(data){
                if (data.status == 1){
                    console.log('Cliente deletado!')
                    $(mythis).closest("tr").fadeOut();
                }
                if (data.status == 0){
                    console.log('Error')
                }
            },
        });
    });


    // Editar cliente
    $("tbody").on("click", ".btn-edit", function(){
        let id = $(this).attr("data-sid");
        let crsf = $("input[name=csrfmiddlewaretoken]").val()
        mydata = {cliente_id:id, csrfmiddlewaretoken:crsf}
    
        $.ajax({
            url: "{% url 'edit' %}",
            method: 'POST',
            data: mydata,
            dataType: "json",
            success:function(data){
                console.log(data)
            },
        });
    });
    

</script>